  #ges-chatbot-root {
        all: initial;
        * {
          all: unset;
        }
      }

      /* Ensures no outside style leaks in */
      #ges-chatbot-root * {
        box-sizing: border-box;
        font-family: sans-serif;
      }

      /* Chat Button */
      #ges-chatbot-root .chatbot-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 9999;
        animation: chatbot-bounce 3s infinite;
        background-color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      #ges-chatbot-root .chatbot-icon {
        width: 32px;
        height: 32px;
      }

      /* Chat Container */
      #ges-chatbot-root .chatbot-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 400px;
        height: 600px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
        display: none;
        overflow: hidden;
        border: 1px solid #ccc;
        z-index: 9999;
        animation: chatbot-slideIn 0.5s ease-in-out;
      }

      /* Header */
      #ges-chatbot-root .chatbot-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: white;
        color: black;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
      }

      #ges-chatbot-root .close-btn {
        background: transparent;
        color: black;
        border: none;
        font-size: 18px;
        cursor: pointer;
      }

      /* Iframe */
      #ges-chatbot-root iframe {
        width: 100%;
        height: 100%;
        border: none;
      }

      /* Animations */
      @keyframes chatbot-bounce {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }

      @keyframes chatbot-slideIn {
        from {
          transform: translateY(100%);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
